body{
    display: block;
}
.insertPost{
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
   
    
    .profile{
        display: flex;
        
        #insideUserPost{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: relative;
            left: 10px;
            top: 10px;
        }
        h4{
           position: relative;
           left: 20px;
           top: 5px;
        }
    }
    .time{
        position: relative;
        top: 30px;
        left: -88px;
        
    }
    #body{
        position: relative;
        top: 40px;
        left: 30px;
        overflow: hidden;
        column-width: 200px;
    }
    #insideImgPost{
    position: relative;
    top: 70px;
    width: 100%;
    height: 300px;
   
    }
    .social{
        margin-top: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        ul{
            display: flex;

            
            li{
                list-style-type: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 50px;
                
                img{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
                span{
                    position: relative;
                    left: 5px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        background-color: rgb(205, 205, 226);
                        border-radius: 5px;
                    }
                }
                
            
            }
        }
    }

}